body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.yellowLeft{
    background-color: yellow;
    height: 100%;
    width: 50%;
}
.greenLeft{
    background-color: greenyellow;
    height: 50%;
    width: 50%;
}

.blueRight{
    background-color: blue;
    height: 100%;
    width: 50%;
}