body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.Left{
    display: flex;
    height: 100%;
    width: 50%;
}
.yellowLeft1{
    display: flex;
    background-color: yellow;
    height: 50%;
    width: 25%;
    float: left;
}
.yellowLeft2{
    display: flex;
    background-color: yellow;
    height: 50%;
    width: 25%;
    float: left;
}
.yellowLeft3{
    display: flex;
    background-color: yellow;
    height: 50%;
    width: 25%;
}
.yellowLeft4{
    display: flex;
    background-color: yellow;
    height: 50%;
    width: 25%;
}